button{
    padding: 20px;
    height: 70px;
    width: 70px;
    border: 1px solid black;
    font-size: 24px;
    text-align: center;
}

.button-row{
    text-align: center;
}

.button-row::after{
    clear: both;
    content: '';
    display: table;
}
