button{
    padding: 20px;
    height: 60px;
    width: 60px;
    border: 1px solid black;
    font-size: 20px;
}

.row{
    text-align: center;
    font-size: 20px;
}

.row::after{
    clear: both;
    content: '';
    display: table;
}
