#cart{
    margin: 2px;
    padding-top: 5px;
    padding-bottom: 8px;
    font-size: 16px;
    display: flex;
    border-radius: 5px;
    border: 1px solid black;
    align-items: center;
    height: 30px;    
}

button:hover{
    color: white;
    background-color: black;
    
}