#title{
    background-color: #212529;
    color: white;
    text-align: center;
    padding-top: 35px;
    height: 180px;
}

#titleHeading{
    font-size: 40px;
    margin-bottom: 10px;
}
#titleBody{
    margin-top: 0px;
    font-size: medium;
}